.mmg-orange-theme .mmg-y-list-link {
    color: #707070;
    font-family: "Poppins", Sans-serif, serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.mmg-orange-theme .mmg-y-list-title {
    font-family: "Poppins", Sans-serif, serif;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #242A2F !important;
}

.mmg-orange-theme .mmg-y-list-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mmg-orange-theme .mmg-y-list-main {
    min-width: 25px;
    padding: 10px;
}

.mmg-orange-theme .mmg-y-list-button-wrap {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.mmg-orange-theme .mmg__link-title {
    font-size: 16px;
    font-weight: 700;
    color: #707070 !important;
}

.mmg-orange-theme .mmg__link-description {
    margin-bottom: 5px;
    font-size: 13px;
    color: #707070 !important;
    display: block;
}

.mmg-orange-theme .mmg-y-list-links {
    width: 220px;
    padding: 10px;
}

.mmg-orange-theme .mmg-y-list-block {
    border-style: solid;
    border-width: 0 0 0 5px;
    border-color: var( --e-global-color-accent );
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 12%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0;
    margin-bottom: 18px;
    padding: 13px 13px 13px 13px;
}

.mmg-orange-theme .mmg-y-list-container {
    display: grid;
    gap: 20px;
    grid-theme-columns: 1fr auto 150px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
    filter: drop-shadow(0 0 9px rgba(0,0,0,0.09));
    max-width: 1140px;
}

@media only screen and (max-width: 1024px) {
    .mmg-orange-theme .mmg-y-list-container {
        max-width: 1024px;
    }
}

@media only screen and (max-width: 767px) {
    .mmg-orange-theme .mmg-y-list-container {
        max-width: 768px;
        display: block;
    }
}


.mmg-orange-theme .mmg-y-list-button {
    background-color: #FF6600;
    color: white;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 140px;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 767px) {
    .mmg-orange-theme .mmg-y-list-button {
        font-size: 17px;
        width: 100%;
        height: 50px;
    }

    .mmg-orange-theme .mmg-y-list-button-wrap {
        width: 100%;
    }
}

.mmg-orange-theme .mmg-y-list-description__display-url  a{
    color: #707070 !important;
}

.mmg-orange-theme .mmg-y-list-button:hover {
    background-color: #1E2D7C;
}

.mmg-orange-theme .mmg-y-list-description {
    color: #707070;
    font-family: "Poppins", Sans-serif, serif;
    font-size: 14px;
    font-weight: 400;
}

.mmg-orange-theme .mmg-y-list-button__text {
    color: white;
    font-family: "Poppins", Sans-serif, serif;
    font-weight: 700;
}